*{
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Candara', sans-serif;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: white;
}

#title {
	text-align: center;
	font-size: 2em;
	margin: 0.75em 0em;
}

form {
	display: block;
}

.dropdown-container {
	width: 50%;
	align-items: center;
}

.dropdown {
	background-color: #F7F5F2;
	width: 100%;
	height: 2rem;
	margin: 0.5rem 0;
	border: 2px solid limegreen;
}

.dropdown:hover {
	background-color: #A8E8AA;
}

input[type=submit] {
	-webkit-appearance: none;
	font-size: 1em;
	padding: 0.5em 1em;
	border-radius: 1em;
	margin: 1em;
	background-color: #508AFF;
	color: white;
}

input[type=submit]:hover {
	background-color: #0054FF;
	cursor: pointer;
}

input[type=button] {
	border-radius: .5em;
	font-size: 0.75em;
	padding: 0.75em;
	margin: 1em;
}

input[type=button]:hover {
	cursor: pointer;
	background-color: #D1D0DB;
}

li {
	list-style: none;
}

#display-container {
	text-align: center;
	width: 10%;
}

#parent-container{
	text-align: center;
}

body {
	font-family: 'Candara', sans-serif;
	background-color: black;
	color: white;
}

img {
	margin: 1rem;
}

.input-error {
	font-size: 0.75em;
	color: red;
	text-align: left;
	display: block;
}